{% load staticfiles %}


<html>


    <head>
        <title>Marylebone's Democracy Matters</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">


		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
		    "popup": {
		      "background": "#000"
		    },
		    "button": {
		      "background": "#f1d600"
		    }
		  },
		  "content": {
		    "message": "I am 90% sure that this site doesn't use cookies (so hurrah, you are freed from the realm of biscuits), but just in case continuing to use this site constitutes the acceptance of using cookies "
		  }
		})});
		</script>
	</head>
    

    <body>
		 <div class="topnav">

		 	<ul class ="menu2">
		 		<li><img src="http://ca1-yke.edcdn.com/locations/stations/marylebone.png">
				<li><a href="#home">HOME</a>
				<li><a href="#contact">CONTACT</a>
				<li><a href="#about">ABOUT</a>
			</ul>

			<ul class = "menu3">
				<li><a href="#home">Planning</a>
				<li><a href="#news">Council</a>
				<li><a href="#contact">Places</a>
				<li><a href="#about">Fun</a>
			</ul>

			<ul class = "menu4">
				<li> <a data-toggle="modal" data-target="#myModal">Sign Up to our mailing list</a>
			</ul>
		</div> 


<div class = "linespace"></div>




<div class = opening>

	<div class = "headingopen">
		<p> Local democracy</p>
	</div>

	<div class = subheading>
		<p> Click on the links below to access contact info, meeting summaries, activities, and attendance records.</p>
		<p><i>"democracy dies in darkness" - Washington Post</p></i>
	</div>

</div>




<div class = "linespace"></div>



<div id='wrapper' style='text-align: center;'>
    <div class = "dembutton">
        <p>Click Here to find out how your council tax is being spent.</p>
    </div>
    <div class = "dembutton" '>
        <p>Click here to see what groups which represent you have been doing.</p>
    </div>
</div>

<div class = "linespace"></div>


<div id='wrapper' style='text-align: center;'>
    <div class = "dembutton">
        <p>Have a local issue?</br> Click here to contact your councillors.</p>
    </div>
    <div class = "dembutton" '>
        <p>Click here to see the major issues that are affecting residents at the moment.</p>
    </div>
</div>

<div class = "linespace"></div>

<div class = "linespace"></div>

<div class="groups">

	<div class = "colls">

		<div class = "councillortitle">
			<p> Local Councillors </p>
		</div>

		<div class = "linespace2">
		</div>




		<div class="torybackground">

			<div class = "cllrheading">
			<p> Bryanston and Dorset Square </p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/3/9/1/Info00000193/bigpic.jpg"/>	
			<p> Barbara Arzymanow</p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/0/1/1/Info00000110/bigpic.jpg"/>
			<p> Richard Beddoe </p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/5/1/9/Info00000915/bigpic.jpg"/>
			<p> Eo Murphy </p>
			</div>

		</div>

		<div class="torybackground">

			<div class = "cllrheading">
			<p> Marylebone High Street </p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/6/9/1/Info00000196/bigpic.jpg"/>	
			<p> Karen Scarborough</p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/1/7/1/Info00000171/bigpic.jpg"/>
			<p> Ian Rowley </p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/1/4/1/Info00000141/bigpic.jpg"/>
			<p> Iain Bott </p>
			</div>

		</div>


		<div class="torybackground">

			<div class = "cllrheading">
			<p> West End (Mayfair, Soho, Fitzrovia) </p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/2/5/1/Info00000152/bigpic.jpg"/>	
			<p> Johnathan Glanz</p>
			</div>

			<div class = "tory">
			<img class = "torycircle" src="http://committees.westminster.gov.uk/UserData/2/1/9/Info00000912/bigpic.jpg"/>
			<p> Timothy Barnes </p>
			</div>

			<div class = "tory">
			<img class = "labourcircle" src="http://committees.westminster.gov.uk/UserData/0/1/9/Info00000910/bigpic.jpg"/>
			<p> Pancho Lewis </p>
			</div>

		</div>

	</div>




	<div class = "colls">

		<div class = "councillortitle">
			<p> Resident Groups </p>
		</div>

		<div class = "linespace2">
		</div>







		<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>Marylebone Association:</b></p>
				<p>The largest Residents Association representing the interests of residents. </p>
			</div>

		</div>

		<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>St Marylebone Society:</b></p>
				<p>An amenity society focused on preserving the historic sites in the area. </p>
			</div>

		</div>

						<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>Marylebone Forum:</b></p>
				<p>A statutory body for residents to help create planning stratagy for the area.</p>
			</div>

		</div>

						<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>Safer Neighbourhood Forum:</b></p>
				<p>A voluentary group that works with police on crime issues.</p>
			</div>

		</div>

				<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>Harroby and District RA:</b></p>
				<p>An RA focused on the area between The Edgware Road and Seymour place. </p>
			</div>

		</div>

				<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>St Marylebone Rotary Club:</b></p>
				<p>A service club for men and women in business and the professions in the area. </p>
			</div>

		</div>

				<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>North Marylebone Traffic Group:</b></p>
				<p>A group examining how road changes will affect residents.</p>
			</div>

		</div>

						<div class="ragroups">

			<div class = "rabox1">
				<img class="raimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>
			</div>

			<div class = "rabox2">
				<p><b>Marylebone Mums:</b></p>
				<p>A resource for mums (and dads) in Marylebone and the surrounding areas. .</p>
			</div>

		</div>

		</div>














		<div class = "colls">

			<div class = "councillortitle">
				<p> Business Groups </p>
			</div>

			<div class = "linespace2">
			</div>







			<div class="businessgroup">


				<img class="busimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>

				<p><b>Marble Arch Partnership:</b></p>
				<p>A group examining how road changes will affect residents.</p>


			</div>

			<div class="businessgroup">


				<img class="busimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>

				<p><b>Portman Estate:</b></p>
				<p>A group examining how road changes will affect residents.</p>


			</div>
			<div class="businessgroup">


				<img class="busimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>

				<p><b>Baker Street Quarter:</b></p>
				<p>A group examining how road changes will affect residents.</p>


			</div>


			<div class="businessgroup">


				<img class="busimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>

				<p><b>Howard de Walden Group:</b></p>
				<p>A group examining how road changes will affect residents.</p>


			</div>


			<div class="businessgroup">


				<img class="busimage" src="https://marylebone.org/resources/Pictures/MAlogo.png"/>

				<p><b>New West End:</b></p>
				<p>A group examining how road changes will affect residents.</p>


			</div>









	</div>














































