{% load staticfiles %}


<html>


    <head>
        <title>Marylebone's Democracy Matters</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">


		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
		    "popup": {
		      "background": "#000"
		    },
		    "button": {
		      "background": "#f1d600"
		    }
		  },
		  "content": {
		    "message": "I am 90% sure that this site doesn't use cookies (so hurrah, you are freed from the realm of biscuits), but just in case continuing to use this site constitutes the acceptance of using cookies "
		  }
		})});
		</script>
	</head>
    

    <body>
		 <div class="topnav">

		 	<ul class ="menu2">
		 		<li><img src="http://ca1-yke.edcdn.com/locations/stations/marylebone.png">
				<li><a href="#home">HOME</a>
				<li><a href="#contact">CONTACT</a>
				<li><a href="#about">ABOUT</a>
			</ul>

			<ul class = "menu3">
				<li><a href="#home">Planning</a>
				<li><a href="#news">Council</a>
				<li><a href="#contact">Places</a>
				<li><a href="#about">Fun</a>
			</ul>

			<ul class = "menu4">
				<li> <a data-toggle="modal" data-target="#myModal">Sign Up to our mailing list</a>
			</ul>
		</div> 


<div class = "linespace"></div>

<div class = "linespace"></div>



<div id='wrapper2' style='text-align: center;'>
    <div class = "dembutton2">
        <p> <b>Upcomming Events.</b></p>
    </div>
    <div class = "dembutton2" '>
        <p><b>Groups which run regular events for Residents.</b></p>
    </div>
</div>

<div class = "linespace"></div>


Underconstruction


Not going ot lie, this bit is goign to require a huge amount of python to get it to work, to automate it since updating this every day / week will be a hassle. hmmm. 

links to particualr sites which do actually do this would be easiest I suppose?

Copy from:

MBA
BSQ
Londonist
AGMs


Can have static content for the main things though

Tourist seciton, 
Historic sites
Great resturants?


Then We could have AGM things?
If i wanted people to see that, I suppose a something on the main page would be best?
Like a popup. Hmm, probbaly not, but we could add a bow under the main divider, and have that contain the main events someing up 

But I wouldn't want it up all the time thoguh, that woudl be the issue, it woudl only be able to be a temporary thing, when I want it. 

COuld add it as a temporary thing via the admin intergace I suppose. 